@model DdManger.Web.Models.TableColumnsViewModel

<h4>
    表名:@Model.TableName
    <label asp-for="ColumnName" class="control-label"></label>: @Model.ColumnName
</h4>

<label asp-for="ColumnType" class="control-label"></label>@Model.ColumnType
<label asp-for="IsPk" class="control-label"></label>@Model.IsPk
<label asp-for="IsIdentity" class="control-label"></label>@Model.IsIdentity
<label asp-for="IsNullable" class="control-label"></label>@Model.IsNullable
<label asp-for="DefaultValue" class="control-label"></label>@Model.DefaultValue
<label asp-for="ByteLength" class="control-label"></label>@Model.ByteLength
<label asp-for="Precision" class="control-label"></label>@Model.Precision
<label asp-for="DecimalDigits" class="control-label"></label>@Model.DecimalDigits

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTableCDescription">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="TableName" type="hidden" />
            <input asp-for="ColumnName" type="hidden" />
            <div class="form-group">
                <label asp-for="Explain" class="control-label"></label>
                <input asp-for="Explain" class="form-control" />
                <span asp-validation-for="Explain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

