@using SqlSugar
@model IEnumerable<DdManger.Web.Models.TableViewModel>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rows)
            </th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rows)
            </td>
            <td>
            <td>
                <a href="EditTableDescription?table=@(item.Name)">修改表注释</a>
                <a href="GetColumns?table=@(item.Name)">查看表列</a>
            </td>           

        </tr>
        }
    </tbody>
</table>
